* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

@media screen {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .issue-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

img {
  max-width: 100%;
}

.gallery {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-row-gap: 1.5rem;
  width: 100%;
}

.gallery > :nth-child(3n + 0) {
  transform: rotate(-5deg);
}

.gallery > :nth-child(even) {
  transform: rotate(-3deg);
}
.gallery > :nth-child(odd) {
  transform: rotate(5deg);
}

.gallery > * {
  transition: all 0.2s ease-in-out;
  filter: sepia(0.5);
}

.gallery > :hover {
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
  filter: none;
  z-index: 10;
}

.gallery__item {
  max-width: max-content;
  display: flex;
  margin: 0.25rem;
  height: 100%;
  border-right: solid thin #aaa;
  box-shadow: 10px 0 0 -5px #eee, 30px 30px 50px #3336;
}

.gallery__image-link {
  transition: all 0.2s ease-in-out;
  display: inline-flex;
  background-color: white;
  padding: 5px;
}

.tap {
  position: absolute;
  bottom: -3px;
  right: -6px;
  width: 30%;
  opacity: 0.5;
}

.gallery__image-link img {
  align-self: center; /* flex item's 'stretch' default looks bad on ios */
}

.btn-link {
  font-size: 1.5rem;
  padding: 1.5rem;
}

@media screen and (min-width: 767px) {
  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

@media print {
  .no-print {
    display: none;
  }
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .issue-layout {
    display: grid;
    grid-template-columns: repeat(4, 74.25mm);
    grid-template-rows: repeat(2, 105mm);
    justify-items: center;
    align-items: center;
    grid-template-areas:
      'front_cover back_cover page_6 page_5'
      'page_1 page_2 page_3 page_4';
    background: white;
  }

  .issue-layout > :first-child {
    transform: rotate(180deg);
  }
  .issue-layout > :nth-child(2) {
    grid-area: page_1;
  }
  .issue-layout > :nth-child(3) {
    grid-area: page_2;
  }
  .issue-layout > :nth-child(4) {
    grid-area: page_3;
  }
  .issue-layout > :nth-child(5) {
    grid-area: page_4;
  }
  .issue-layout > :nth-child(6) {
    grid-area: page_5;
    transform: rotate(180deg);
  }
  .issue-layout > :nth-child(7) {
    grid-area: page_6;
    transform: rotate(180deg);
  }
  .issue-layout > :last-child {
    transform: rotate(180deg);
    grid-area: back_cover;
  }
  .img-wrapper {
    display: flex;
    justify-content: center;
    padding: 4mm 2mm 0;
  }
  @page {
    margin: 4px;
    size: A4 landscape;
  }
}

.p4 {
  padding: 1rem;
}
