* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

:root {
  --draft: #bbb;
}

@media screen {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

img {
  max-width: 100%;
}

.thumbnail {
  margin: 4px;
}

.gallery {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.gallery__item {
  min-width: 50px;
  max-width: 50%;
  align-self: center; /* 'stretch' default looks bad on ios */
}

.gallery__image-link {
  display: inline-flex;
}

.btn-link {
  font-size: 1.5rem;
  padding: 1.5rem;
}

@media print {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main {
    display: grid;
    grid-template-columns: repeat(4, 74.25mm);
    grid-template-rows: repeat(2, 105mm);
    justify-items: center;
    align-items: center;
    grid-template-areas:
      'front_cover back_cover page_6 page_5'
      'page_1 page_2 page_3 page_4';
    background: white;
  }

  main > :first-child {
    transform: rotate(180deg);
    padding: 0;
  }
  main > :nth-child(2) {
    grid-area: page_1;
  }
  main > :nth-child(3) {
    grid-area: page_2;
  }
  main > :nth-child(4) {
    grid-area: page_3;
  }
  main > :nth-child(5) {
    grid-area: page_4;
  }
  main > :nth-child(6) {
    grid-area: page_5;
    transform: rotate(180deg);
  }
  main > :nth-child(7) {
    grid-area: page_6;
    transform: rotate(180deg);
  }
  main > :last-child {
    transform: rotate(180deg);
    grid-area: back_cover;
  }
  .img-wrapper {
    display: flex;
    justify-content: center;
    padding: 4mm 2mm 0;
  }
  @page {
    margin: 4px;
    size: A4 landscape;
  }
}

/* .frame {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: var(--draft);
  outline: solid 1px var(--draft);
  background-color: transparent;
} */

/* @media screen {
  .no-print {
    display: none;
  }
}

@media (min-width: 640px) {
  .frame {
    height: 100vh;
    width: auto;
    justify-content: center;
  }
}

@media (min-width: 768px) {
  main {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
    grid-template-areas: '
      .      front
      page-1 page-2
      page-3 page-4
      page-5 page-6
      page-7 back
    ';
  }
  .no-print {
    display: block;
  }
}

@media print {
  main {
    grid-template-columns: repeat(4, 74.25mm);
    grid-template-rows: repeat(2, 105mm);
    justify-items: center;
    align-items: center;
    transform: rotate(90deg);
  }
  .frame {
    width: 70mm;
    height: 100mm;
  }

  .flip-v {
    transform: rotate(180deg);
  }
  .no-print {
    display: none;
  }
}

@page {
  margin: 0;
  size: A4;
} */

.p4 {
  padding: 1rem;
}
